
{% extends 'base.html' %}

{% block content %}
 
{% load static %} 

<div class="col-md-8 inbox_right">
    <div class="Compose-Message">               
        <div class="panel panel-default">
            <div class="panel-heading">
                Create Type
            </div>
            <div class="panel-body panel-body-com-m">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for form in forms %}
                    <div class="log-input">{{form}}
                    </div>
                    {% endfor %}
                </form>
            </div>
         </div>
      </div>
</div>

{% endblock %}