
{% extends 'base.html' %}

{% block content %}
 
{% load static %} 

<div class="col-md-8 inbox_right">
    <div class="Compose-Message">               
        <div class="panel panel-default">
            <div class="panel-heading">
                Create User
            </div>
            <div class="panel-body panel-body-com-m">
                 
                <form action="" method="post">
                    {% csrf_token %}
                    {% for form in forms %}
                    <div class="log-input">{{form}}
                    </div>
                    {% endfor %}
                </form>
            </div>
         </div>
      </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >
    $(function(){
        $('#id_days').change(function(){
            $('#id_of_form').submit();
        });
    });
</script>

{% endblock %}