{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="custom-header">
    <div class="header-from">
        <h3 class="department-type">{{msg.message_sender.office.office_type_name}}</h3>
        <h4 class="department-office">{{msg.message_sender.office}}</h4>
    </div>
    <div class="header-time">
        <p>{{msg.message_time}}</p>
    </div>
</div>
<div class="custom-detail">
    <div class="custom-description">
        <p>{{msg.message_description}}</p>
    </div>
    <div class="custom-img">
        <a href="{% get_media_prefix %}{{msg.message_file}}" target="_blank">
            <img class="custom-inner-img" src="{% static 'images/pdf.png' %}" alt=""
                data-pdf-thumbnail-file="{% get_media_prefix %}{{msg.message_file}}">
        </a>
    </div>
</div>
<div class="replay-btn">
    <a href="{% url 'replymessage' msg.message_id %}"><button class="inner-replay-btn">Replay</button></a>
</div>
 -->

<div class="widget_bottom" style="margin:10px">
            <div class="" id="collapseOne">
                <div class="banner-bottom-video-grid-left">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title asd">
                                <div><div class="header-from">
                                    <h5><div>From: {{msg.message_sender.office.office_type_name}}</div></h5>
                                    <!-- <div><h5>Office: {{msg.message_sender.office}}</h5></div> -->
                                </div>
                              </div>
                              </h4>
                            </div>

                             
                              <div class="panel-body panel_text">
                                <div class="custom-detail">
                                    <div class="custom-description">
                                        <p>{{msg.message_description}}</p>
                                    </div>
                                    <div class="custom-img">
                                        <a href="{% get_media_prefix %}{{msg.message_file}}" target="_blank">
                                            <img class="custom-inner-img" src="{% static 'images/pdf.png' %}" alt=""
                                                data-pdf-thumbnail-file="{% get_media_prefix %}{{msg.message_file}}">
                                        </a>
                                    </div>
                                </div>
                              </div>
                             
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="replay-btn">
            <a href="{% url 'replymessage' msg.message_id %}"><button class="inner-replay-btn">Replay</button></a>
        </div>
{% endblock content %}
 